* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #75cfb8;
}

h2 {
    color: white;
    font-weight: 400;
    text-align: center;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 350px;
}

.header {
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 42px;
}

.items {
    height: 400px;
    overflow-y: auto;
}

.item__row {
    margin-bottom: 20px;
}

.item {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.item__delete {
    transition: all 0.2s;
}

.item__delete:hover {
    color: red;
    transform: scale(1.2);
}

.footer {
    display: flex;
}

.todo__input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    outline: none;
    border: none;
}

.todo__add {
    width: 40%;
    background-color: #487e95;
    color: white;
    font-size: 18px;
    padding: 0px 12px;
    transition: all 0.2s;
    border: none;
}

.todo__add:hover {
    background-color: #ff9292;
}
